.whb-top-bar .wd-dropdown {
	margin-top: 0.5px;
}

.whb-top-bar .wd-dropdown:after {
	height: 10.5px;
}


.whb-header-bottom .wd-dropdown {
	margin-top: 5px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 15px;
}


.whb-header .whb-header-bottom .wd-header-cats {
	margin-top: -0px;
	margin-bottom: -1px;
	height: calc(100% + 1px);
}

.whb-clone.whb-sticked .wd-dropdown {
	margin-top: 10px;
}

.whb-clone.whb-sticked .wd-dropdown:after {
	height: 20px;
}

@media (min-width: 1025px) {
		.whb-top-bar-inner {
		height: 41px;
		max-height: 41px;
	}

		
		.whb-general-header-inner {
		height: 105px;
		max-height: 105px;
	}

		
		.whb-header-bottom-inner {
		height: 50px;
		max-height: 50px;
	}

		
			.whb-clone .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	}

@media (max-width: 1024px) {
		.whb-top-bar-inner {
		height: 40px;
		max-height: 40px;
	}
	
		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	
			.whb-clone .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	}
		
.whb-top-bar {
	background-color: rgba(218, 182, 96, 1);border-color: rgba(129, 129, 120, 0.2);border-bottom-width: 1px;border-bottom-style: solid;
}

.whb-general-header {
	background-color: rgba(255, 255, 255, 1);border-bottom-width: 0px;border-bottom-style: solid;
}
.whb-lavvqsh1emm9r0psr2g4 .menu-opener { background-color: rgba(218, 182, 96, 1); }.whb-lavvqsh1emm9r0psr2g4 .menu-opener { border-bottom-width: 00px;border-bottom-style: solid;border-top-width: 00px;border-top-style: solid;border-left-width: 00px;border-left-style: solid;border-right-width: 00px;border-right-style: solid; }
.whb-header-bottom {
	background-color: rgba(247, 247, 247, 1);border-color: rgba(230, 230, 230, 1);border-bottom-width: 1px;border-bottom-style: solid;
}
